<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/base.css"/>
</head>

<body>
    <div class="myclass">
        <img src="../static/롯데로고.png" alt="My Image">
        <div id = "logo_title">롯데제과</div>
        
        <div id = "login_id">
            <div id = "login_name">
                롯데제과님
            </div> 
           
            <div id = "hello_name">안녕하세요:)</div>
        </div>
    </div>


    <div class = "menubar">
        <div class="item">홍보관</div>
        <div class="item">고객의 소리</div>
        <div class="item">접수 현황</div>
        <div class="item">FAQ</div>
    </div>

   <div class = "menubar_bottom">
        기타 등등
   </div>

</body>
</html>